PRISM_URL=http://127.0.0.1:4010
CLIENT_ID=mock_client_id
CLIENT_SECRET=mock_client_secret
DATABASE_URL="sqlserver://localhost\INSTANCE_NAME;database=AdventureWorks2022;integratedSecurity=true;trustServerCertificate=true;"
