openapi: 3.0.3
info:
  title: Zalando Article Onboarding API
  version: 1.0.0
  description: >
    Mock middleware API to ingest Myntra fashion data into Zalando's
    Model -> Config -> Simple taxonomy.
  x-api-id: "c928c045-8c08-4127-b379-6b7fa1e97495"
  x-audience: external-public
  contact:
    name: API Support
    url: https://example.com/support
    email: support@example.com
servers:
  - url: https://mock-api.zalandoapis.com
paths:
  /tokens:
    post:
      summary: Get access token
      operationId: getToken
      security:
        - oauth2:
            - token.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
                    format: int32
  /articles:
    post:
      summary: Onboard a new article
      description: Create a new article with its color configs and size simples.
      operationId: createArticle
      security:
        - oauth2:
            - article.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticlePayload'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '400':
          description: Bad Request (Validation Error)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.example.com/oauth2/token
          scopes:
            article.write: Write access to articles
            token.write: Create access tokens
  schemas:
    ArticlePayload:
      type: object
      required:
        - model
      properties:
        model:
          $ref: '#/components/schemas/ArticleModel'

    ArticleModel:
      type: object
      required:
        - model_sku
        - brand_code
        - silhouette_id
        - configs
      properties:
        model_sku:
          type: string
          description: The parent model SKU
        brand_code:
          type: string
          description: Zalando internal brand code
        silhouette_id:
          type: string
          description: Zalando category/silhouette identifier
        configs:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ArticleConfig'

    ArticleConfig:
      type: object
      required:
        - config_sku
        - color_code
        - supplier_color
        - simples
      properties:
        config_sku:
          type: string
          description: The config (color) SKU
        color_code:
          type: string
          description: Zalando specific color code
        supplier_color:
          type: string
          description: The raw extracted supplier color
        media:
          type: array
          description: "List of media assets for this color variant."
          items:
            type: object
            required:
              - url
              - media_sort_key
              - media_category
            properties:
              url:
                type: string
                format: uri
                description: "[MOCK EXEMPTION] Must be a valid URI. Production requires publicly accessible HTTPS. Local mock environment permits http://localhost:9000 MinIO references."
              media_sort_key:
                type: integer
                description: "1 is the primary image, subsequent numbers dictate gallery order."
              media_category:
                type: string
                enum: [ "Image", "Video", "Thumbnail" ]
                description: "Zalando media type. Note: Every Image requires an accompanying Thumbnail with the same sort key."
        simples:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ArticleSimple'

    ArticleSimple:
      type: object
      required:
        - simple_sku
        - size_grid_id
        - size_code
      properties:
        simple_sku:
          type: string
          description: The simple (size) SKU
        size_grid_id:
          type: string
          description: Zalando size grid identifier
        size_code:
          type: string
          description: The size code on the grid

    Problem:
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          default: "about:blank"
        title:
          type: string
        status:
          type: integer
          format: int32
          minimum: 100
          maximum: 600
        detail:
          type: string
        instance:
          type: string
          format: uri
